body {
    background: #f0f0f0;
    font-family: Arial, sans-serif;
}
.kontainer {
    width: 700px;
    margin: 2em auto;
    padding: 2em;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.kol-3 {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 10px;
}
.kol-4 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 10px;
}
label {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 10px 0;
    padding: 0;
}
input, textarea {
    padding: 0.5em;
    border-radius: 0.3em;
    border: 1px solid #ccc;
    font-weight: bold;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
}
textarea {
    height: 10em;
    width: 100%;
}
button {
    padding: 0.7em;
    border-radius: 0.3em;
    border: none;
    font-weight: bold;
    background: #007bff;
    color: white;
    cursor: pointer;
}
img {
    width: 3em;
}
.total {
    background-color: #DDD;
    padding: 5px;
}
.namnlista {
    list-style-type: none;
}